.dark-mode code[class*="language-"],
.dark-mode pre[class*="language-"] {
	color: #d6deeb;
	font-family: 'IBM Plex Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	font-size: 1em;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.dark-mode pre[class*="language-"]::-moz-selection,
.dark-mode pre[class*="language-"] ::-moz-selection,
.dark-mode code[class*="language-"]::-moz-selection,
.dark-mode code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #2c333c;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 10%);
  border-radius: .75rem;
  padding: 1.25rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dark-mode pre[class*="language-"]::selection,
.dark-mode pre[class*="language-"] ::selection,
.dark-mode code[class*="language-"]::selection,
.dark-mode code[class*="language-"] ::selection {
	text-shadow: none;
	background: #2c333c;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 10%);
  border-radius: .75rem;
  padding: 1.25rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media print {
	.dark-mode code[class*="language-"],
	.dark-mode pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
.dark-mode pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

.dark-mode :not(pre) > code[class*="language-"],
.dark-mode pre[class*="language-"] {
	color: white;
	background: #2c333c;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 10%);
  border-radius: .75rem;
  padding: 1.25rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dark-mode :not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.dark-mode .token.comment,
.dark-mode .token.prolog,
.dark-mode .token.cdata {
	color: rgb(99, 119, 119);
	font-style: italic;
}

.dark-mode .token.punctuation {
	color: rgb(199, 146, 234);
}

.dark-mode .namespace {
	color: rgb(178, 204, 214);
}

.dark-mode .token.deleted {
	color: rgba(239, 83, 80, 0.56);
	font-style: italic;
}

.dark-mode .token.symbol,
.dark-mode .token.property {
	color: rgb(128, 203, 196);
}

.dark-mode .token.tag,
.dark-mode .token.operator,
.dark-mode .token.keyword {
	color: rgb(127, 219, 202);
}

.dark-mode .token.boolean {
	color: rgb(255, 88, 116);
}

.dark-mode .token.number {
	color: rgb(247, 140, 108);
}

.dark-mode .token.constant,
.dark-mode .token.function,
.dark-mode .token.builtin,
.dark-mode .token.char {
	color: rgb(130, 170, 255);
}

.dark-mode .token.selector,
.dark-mode .token.doctype {
	color: rgb(199, 146, 234);
	font-style: italic;
}

.dark-mode .token.attr-name,
.dark-mode .token.inserted {
	color: rgb(173, 219, 103);
	font-style: italic;
}

.dark-mode .token.string,
.dark-mode .token.url,
.dark-mode .token.entity,
.dark-mode .language-css .token.string,
.dark-mode .style .token.string {
	color: rgb(173, 219, 103);
}

.dark-mode .token.class-name,
.dark-mode .token.atrule,
.dark-mode .token.attr-value {
	color: rgb(255, 203, 139);
}

.dark-mode .token.regex,
.dark-mode .token.important,
.dark-mode .token.variable {
	color: rgb(214, 222, 235);
}

.dark-mode .token.important,
.dark-mode .token.bold {
	font-weight: bold;
}

.dark-mode .token.italic {
	font-style: italic;
}